{/include file='templates/header.html'/}
<script type="text/javascript" src="{/$basePath/}/www/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
	//修改
	function modify_fund(id)
	{
		var title='修改客户营销动态';
		var url="{/spUrl c=recordController a=marketAddAc/}";
		url+='&id='+id;
		var id='marketAddAc'+Math.floor(Math.random()*1000+1);
		parent.addNewTab(id,title,url);
		return false;
	}
	//删除
	function delete_fund(id,file)
	{
		var url="{/spUrl c=recordController a=deleteMarketAc/}";
		$.post(url,{id:id},function(res){
			alert(res.msg);
			if(res.success){
				var url="{/spUrl c=recordController a=marketListAc/}";
				window.location.href=url;
			}
		},'json');
	}
</script>
<div class="jj_rightcont" >
	<form action="{/spUrl c=recordController a=marketListAc/}" method="post" id='paymentForm'>
	<input type="hidden" value='1' name='isSelect' />
		<div class="jj_toptitle" >
			<input type="hidden" value='0' name='out' id='out'/>
			邮箱：
			<input type='text' name='mail' id='mail' value='{/$mail/}' style='width:80px;'/>
			动态：
			<input type='text' name='content' id='content' value='{/$content/}' style='width:80px;'/>
			客户名称：
			<input type='text' name='name' id='name' value='{/$name/}' style='width:80px;'/>
			{/if $level>2/}
			业务员：
			<select id='operid' name='operid' style='width:80px;'>
				<option value=''>--全部--</option>
				{/html_options options=$operids selected=$operid/}
			</select>
			{//if/}
			日期：
			<input type='text' style='width:80px;' value='{/$begin_date/}' name='begin_date' id='begin_date' onclick='WdatePicker({dateFmt:"yyyy-MM-dd",autoUpdateOnChanged:true})'/>
			至
			<input type='text' style='width:80px;' value='{/$end_date/}' name='end_date' id='end_date' onclick='WdatePicker({dateFmt:"yyyy-MM-dd",autoUpdateOnChanged:true})'/>
			&nbsp;
			<input  type="submit"  value="查询" class='btn_44' onclick="return outFun(0);"/>&nbsp;
			<input  type="submit"  value="导出" class='btn_44 qxQt' onclick="return outFun(1);" />
			<input  type="button"  value="反馈" class='btn_44' onclick="toPub()"/>
		</div>
    <table class="n_tablebox" style="width: 1100px">
        <tr class="firsttitle">
        	<td width="40" align="left"><input type="checkbox" id='checkboxAll'/>全选</td>
			<td width="100">日期</td>
			<td width="100">客户名称</td>
			<td width="100">客户类型</td>
			<td width="500">动态</td>
            <td width="100">客户邮箱</td>
            <td width="100">反馈状态</td>
            <td width="100">操作员</td>
            <td width="100">操作</td>
        </tr>
        {/foreach from=$data.data item=row name=a/}
        <tr {/if $smarty.foreach.a.iteration % 2 == 0/}class="graytr"{//if/}>
        	<td><input type="checkbox" value='{/$row.id/}' class='checkboxclass'/></td>
            <td>{/$row.datetime/}</td>
            <td>{/$row.first_name/} {/$row.last_name/}</td>
            <td>{/$row.client_type_name/}</td>
            <td>{/$row.content/}</td>
            <td>{/$row.mail/}</td>
            <td>{/$row.back_name/}</td>
            <td>{/$row.opername/}</td>
            <td>
            	<a onclick="modify_fund('{/$row.id/}');return false;" href="#" title="编辑"  class="qxModify"><img
				src="{/$basePath/}/www/images/edit.gif" border="0" height="16"
                width="16"></a>&nbsp;&nbsp;
				<a onclick="delete_fund('{/$row.id/}');return false;" href="#" title="删除" class="qxDelete"><img
				src="{/$basePath/}/www/images/delete.png" border="0" height="16"
				width="16"></a>
			</td>
        </tr>
        {//foreach/}
        <tr>
        	<td colspan='9'>{/$data.linkBar/}</td>
        </tr>
    </table>
    </form>
</div>
<script type="text/javascript">
	function outFun(type)
	{
		$("#out").val(type);
		$("form").submit();
	}
	function toPub()
	{
		var idStr='';
		$('.checkboxclass').each(function(){
			if(this.checked){
				idStr+=','+$(this).attr('value');
			}		
		});
		idStr=idStr.substr(1);
		if(idStr==''){
			alert('未选中任何记录，操作无效');return false;
		}
		$.post("{/spUrl c=recordController a=dealAc/}",{id:idStr},function(res){
			alert(res.msg);
			if(res.success){
				var url="{/spUrl c=recordController a=marketListAc/}";
				window.location.href=url+"&isSelect=1";
			}
		},'json');
	}
	$(function(){
		$("#checkboxAll").click(function(){
			var checkFlag=this.checked;
			$(".checkboxclass").attr("checked",checkFlag);
		});
	});
</script>
{/include file='templates/footer.html'/}