{/include file='templates/header.html'/}
	<div class="jj_rightcont" >
    	<div class="jj_toptitle" ><strong>{/$title/}</strong>
    		check校验客户邮箱，来判断用户的唯一性
    	</div>
    	<form name="add" action="{/spUrl c=gwclientController a=doAddClientAc/}" method="post">
    		<input type="hidden" value='{/$data.id/}' name='id' id='id'/>
    		<input type="hidden" value='{/$data.country/}' name='country' id='country'/>
    		
    		<table  class="n_tablebox" style="width: 800px">
	            <tr>
					<td><font color=red>*</font>客户持有者：</td>
					<td>
						<select id='operid' name='operid'>
							{/html_options options=$operids selected=$data.operid/}
						</select>
					</td>
					<td><font color=red>*</font>客户类型：</td>
					<td>
						<select id='client_type' name='client_type'>
							{/html_options options=$client_types selected=$data.client_type/}
						</select>
					</td>
	   			</tr>
	   			<tr>
					<td><font color=red>*</font>客户名称：</td>
					<td>
						<input type='text' name='first_name' id='first_name' value='{/$data.first_name/}'>
						<input type='text' name='last_name' id='last_name' value='{/$data.last_name/}'>
					</td>
					<td>客户电话：</td>
					<td><input type='text' name='phone' id='phone' value='{/$data.phone/}'></td>
	   			</tr>
	   			<tr>
					<td><font color=red>*</font>国家：</td>
					<td>
						<input type='text' name='autoid' id='autoid' style='width:300px;'  value='{/$data.country/}'/> 
					</td>
					<td><font color=red>*</font>客户邮箱：</td>
					<td><input type='text' name='mail' id='mail' value='{/$data.mail/}'></td>
	   			</tr>
	   			<tr>
	   				<td>公司名称：</td>
					<td><input type='text' name='company_name' id='company_name' value='{/$data.company_name/}'></td>
					<td>客户手机：</td>
					<td><input type='text' name='mobile_phone' id='mobile_phone' value='{/$data.mobile_phone/}'></td>
	   			</tr>
	   			<tr>
	   				<td>客户在线工具：</td>
					<td>
						<input type='text' name='tool_number' id='tool_number' value='{/$data.tool_number/}'>
						<br>格式：QQ: 123209358,Skype:chinaflashlight
					</td>
					<td>客户公司网址：</td>
					<td><input type='text' name='url' id='url' value='{/$data.url/}'></td>
	   			</tr>
	   			<tr>
					<td>备注：</td>
					<td colspan="3">
						<textarea rows="5" cols="5" name='remark'>{/$data.remark/}</textarea>
					</td>
	   			</tr>
   			</table>
   			<table  class="n_tablebox" style="width: 800px">
   				<tr class="firsttitle">
   					<td>
	   					<input type="button" value="check" class='btn_44' onclick="checkFun()">
		   				&nbsp;&nbsp;&nbsp;
	   					<input type="button" value="确定" class='btn_44' onclick="return submitFun()">
   					</td>
   				</tr>
   			</table>
    	</form>
    </div>
    <script type='text/javascript' src='{/$basePath/}/www/js/jquery-autocomplete/jquery.autocomplete.js'></script>
	<link rel="stylesheet" type="text/css" href="{/$basePath/}/www/js/jquery-autocomplete/jquery.autocomplete.css" />
    <script type="text/javascript">
	    function checkFun()
	    {
	        var mail=$("#mail").val();
	        if(!mail){alert('请先填写邮箱');return false;}
			$.post("{/spUrl c=gwclientController a=checkClientAc/}",{mail:mail},function(res){
				alert(res.msg);
			},'json');
	    }
    	function submitFun()
    	{
        	if(!checkNull('first_name','客户名称'))return false;
        	if(!checkNull('last_name','客户名称'))return false;
        	//if(!checkNull('phone','客户电话'))return false;
        	if(!checkNull('country','国家'))return false;
        	if(!checkNull('mail','邮箱'))return false;
        	var mail=$("#mail").val();
        	var isok=checkEmail(mail);
    		if(isok!=1){
				alert('邮箱格式不正确');
				return false;
        	}
			$("form").submit();        	
        }
    	$(function() {
    		var dataJsonObj=$.parseJSON('{/$countryDataJson/}');
    		commAuto(dataJsonObj);
    	});
    	function commAuto(dataJsonObj){
    		function format(msg) {
    			return  msg.id+' '+msg.name;
    		}
    		$("#autoid").unautocomplete();
    		$("#autoid").autocomplete(dataJsonObj, {
    			max:200,//列表里的条目数
    			minChars:0, //自动完成激活之前填入的最小字符
    			width : 300, //提示的宽度，溢出隐藏
    			scrollHeight : 300, //提示的高度，溢出显示滚动条
    			matchContains : true, //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
    			autoFill : false, //自动填充
    			cacheLength : 1, //缓存
    			dataType: "json",
    			formatItem: function(item) {
    				return format(item);
    			},
    			formatMatch : function(row, i, max) {
    					return row.id+' '+row.name;
    					}
    		}).result(function(e, item) {
    			$("#country").val(item.id);
    		});
    	}
    </script>
{/include file='templates/footer.html'/}