<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache"></meta>
	<title>{/$title/}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="{/$basePath/}/www/css/base.css" rel="stylesheet" type="text/css"/>
	<link href="{/$basePath/}/www/css/layout.css" rel="stylesheet" type="text/css"/>
	<link href="{/$basePath/}/www/css/pagenavi.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="{/$basePath/}/www/js/jquery.js"></script>
	<script type="text/javascript" src="{/$basePath/}/www/js/common.js"></script>
</head>